.join-container{
  background-color: #FFF;
  color: #000;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-box-shadow: 5px 5px 17px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 5px 5px 17px 1px rgba(0, 0, 0, 0.3);
}
